 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("sec1.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.u-section-1 .u-group-1 {
  width: 720px;
  min-height: 431px;
  box-shadow: 0 0 40px 4px rgba(26,26,26,0.8);
  background-image: none;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-1 .u-text-1 {
  margin: 76px 20px 0 23px;
}

.u-section-1 .u-shape-1 {
  width: 94px;
  height: 96px;
  margin: -101px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  margin: 21px 20px 0 23px;
}

.u-section-1 .u-text-3 {
  margin: 13px 20px 0 23px;
}

.u-section-1 .u-shape-2 {
  width: 94px;
  height: 96px;
  margin: 38px auto 0 3px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: -103px auto 0 284px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 594px;
    margin-left: 173px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -5px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -76px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 455px;
    margin-left: 133px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -2px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 240px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 62px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 14px;
    margin-left: -6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -196px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("sec2.jpeg");
}

.u-section-2 .u-sheet-1 {
  min-height: 401px;
}

.u-section-2 .u-image-1 {
  width: 267px;
  height: 310px;
  margin: 46px auto 0 26px;
}

.paddingpls {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  width: 740px;
  margin: -296px auto 0;
}

.u-section-2 .u-image-2 {
  width: 263px;
  height: 310px;
  margin: -53px 31px 0 auto;
}

.u-section-2 .u-line-1 {
  width: 114px;
  height: 3px;
  transform-origin: right center 0px;
  margin: -226px auto 0;
}

.u-section-2 .u-text-2 {
  width: 346px;
  margin: 26px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-2 .u-image-1 {
    height: 309px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -295px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}